<%- include("partials/header") %>
       
      <%= data.tags %>
      <br>
      <%= data.amount %>
      <br>
      <%= data.category %>
      <br>
      <%= data.text %>
      <br>
      <%= data.date %>
      <br>

      <button class="delete"><a href="/deleteExpense/<%= data._id %>">Delete</a></button>
      <button class="update"><a href="/update/<%=data._id%>">Update</a></button>
                    
<%- include("partials/footer") %>
