<%- include("partials/header")%>
 <link rel="stylesheet" href="/stylesheets/nav.css">
 <link rel="stylesheet" href="/stylesheets/profile.css">

<div class="nav">
    <div class="logo">
    <img src="https://cdn-icons-png.flaticon.com/128/8196/8196973.png" alt="" >
    <h4>PennyWise</h4>
    </div>
     
    <div class="button">
    <button><a href="/signout">LOGOUT</a></button>
   </div>
</div>

	<form action="/filter" class="searchForm">	
    <select name="key" id="key">
      <option id="key" value="tags">Tags</option>
      <option id="key" value="amount">Amount</option>
      <option id="key" value="category">Category</option>
    </select>	    
		<input type="search" name="value" placeholder="What are you looking for?">		    	
		<button>Search</button>
	</form>

  <% var income = 0 %>
  <% var expense = 0 %>

  <%exp.forEach(function(incExp){%>
    <%if(incExp.amount<0 ){%>
      <% expense +=  +incExp.amount; %>
    
    <%}else{%>
      <% income +=  +incExp.amount; %>
   <% }})%>
<div class='body'>
  <div id="phone">
    <div id="phone-screen">
        <p id="user-name">Welcome</p>
        <p id="user-profession"><%=user.username%></p>
        <div id="user-general-values">
          <p class="pointer">
            <span>Your Balance</span>
            <br>
            <span class="show">
              <% if(income < expense){ %>
                <%="-"%>
              <%}%>  
              $<%=income+expense%> </h1>
            </span>
	    	  </p>
          <div class="line"></div>
          <p class="pointer">
            <span>Income</span>
            <br>
            <span class="money-plus" id="money-plus">$<%=income%></span>
	    	  </p>
          <div class="line"></div>

          <p class="pointer">
            <span>Expense</span>
            <br>
            <span class="money-minus" id="money-minus">$<%=expense%></span>
	    	  </p>
        
        </div>
       <div id="group-btn"> 
          <button class="btn" id="follow-btn"><a href="/changePassword">Change Password</a></button> 
          <button class="btn" id="message-btn"> <a href="/addExpenses">Add Expenses</a></button>
        </div>
        </div>
    </div>
    
  </div>


  <main class="main flow">
    <h1 class="main__heading">History</h1>
    <div class="main__cards cards">

      <div class="cards__inner">
        <% exp.forEach(function(check){ %>
        
          <% if(check.amount<0){ %>
            <div class="cards__card card">
            <h2 class="card__heading"><%=check.category%></h2>
          <p class="card__price minus">$<%=check.amount%></p>
          <ul role="list" class="card__bullets flow">
            
          </ul>
          <a href="/details/<%=check._id%>" class="card__cta cta">Details</a>
        </div>
     <% }else{ %>
      <div class="cards__card card">
        <h2 class="card__heading"><%=check.category%></h2>
        <p class="card__price plus">$<%=check.amount%></p>
        <ul role="list" class="card__bullets flow">
          
        </ul>
        <a href="/details/<%=check._id%>" class="card__cta cta">Details</a>
      </div>
    <% }%>
        <% })%>
      </div>
  
      <div class="overlay cards__inner"></div>
    </div>
  </main>

<script src="/javascripts/profile.js"></script>
<%- include("partials/footer")%>
