<%- include("partials/header")%>
<link rel="stylesheet" href="/stylesheets/expenses.css">

<div class="logo">
    <img src="https://cdn-icons-png.flaticon.com/128/8196/8196973.png" alt="">
    <h4>PennyWise</h4>
</div>

<div class="container">
    <h3> Update Transition</h3>

    <form action="/update/<%=prop._id%>" method="post">
        <div class="form-control">
            <label for="Tags">Tags</label>
            <input type="text"  id="tags" name="tags" placeholder="Enter Tags......" value="<%=prop.tags%>" required>
        </div>
        <div class="form-control">
            <label for="amount">Amount</label>
            <p>Add amount with + it goes to income</p>
            <p>Add amount with - it goes to expense</p>
            <br>
            <input type="number" id="amount" name="amount" placeholder="Enter Amount..." value="<%=prop.amount%>" required>
        </div>

        <div class="form-control">
            <label for="categories">Categories</label>
            <br>
            <!-- <input type="text" id="category" name="category" placeholder="Enter Categories.." required > -->
            <select name="category" id="category">
                <option value="<%= prop.category%>">Choose Category</option>
               <% categoryList.forEach(function(cat){ %>
                    <option value="<%= cat %>"><%= cat %></option>
               <% }) %>
            </select>
        </div>

        <div class="form-control">
            <label for="Text">Text</label>
            <input type="text" id="text" name="text" placeholder="Enter Text.." value="<%= prop.text%>" required>
        </div>
        <div class="form-control">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" placeholder="Enter Date" value="<%= prop.date%>" required>
        </div>
         <button class="btn">Update</button>
    </form>

</div>
<!-- <script src="/javascripts/expense.js"></script> -->
<%- include("partials/footer")%>
